# ME package
public net.minecraft.world.item.context.UseOnContext hitResult

# GUI rendering
protected-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageWidth
protected-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen imageHeight

# loacte slot
public-f net.minecraft.world.inventory.Slot x
public-f net.minecraft.world.inventory.Slot y

# ItemEntity
public net.minecraft.world.entity.item.ItemEntity thrower
public net.minecraft.world.entity.item.ItemEntity pickupDelay